.cart{
    border-left: 1px solid lightgrey;
    padding: 20px;
    border-radius: 20px;
    background-color: white;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 10%;
    flex-grow: 1;
    position: sticky;
    top: 25.5vh;
}
.cart h2{
    text-align: center;
}
.cart .button-cart:disabled{
    opacity: .4;
}