.cart{
    border-left: 1px solid lightgrey;
    padding: 20px;
    border-radius: 20px;
    background-color: white;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 10%;
    flex-grow: 1;
    position: sticky;
    top: 25.5vh;
}
.cart h2{
    text-align: center;
}
.cart .button-cart:disabled{
    opacity: .4;
}
#cart-item{
    flex-grow: 1;
    overflow-y: auto;
    margin-block: 20px;
}
#cart-item::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  #cart-item::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  #cart-item::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }
  
  /* Handle on hover */
  #cart-item::-webkit-scrollbar-thumb:hover {
    background: #555;
  }