.cart-container{
    border-left: 1px solid lightgrey;
    padding: 20px;
    border-radius: 20px;
    background-color: white;
    height: 88vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 30%;
    flex-grow: 1;
    padding-inline: 5px;
    position: sticky;
    top: 12vh;
}
.cart-container h2{
    text-align: center;
}

#cart{
    flex-grow: 1;
    overflow-y: auto;
    margin-block: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#cart-item{
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid lightgrey;
  padding-inline: 10px;
  padding-bottom: 5px;
}
#cart-item-title{
  font-size: 16px;
  font-family: 'Texte-bold';
}
#cart-item > p:first-child{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: black;
  margin: 0px;
}
#ingredient-container{
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}
.p-ingredient-added{
  color: darkgreen;
  font-size: 13px;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 25px;
}
.p-ingredient-removed{
  color: darkred;
  font-size: 13px;
  margin: 0;
}
#p-center{
  text-align: center;
}
.bi-x-circle{
  color: darkred !important;
  cursor: pointer;
  margin-left: 10px;
  height: min-content;
}
#cart::-webkit-scrollbar {
  width: 10px;
}

/* Track */
#cart::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
#cart::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
#cart::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.text-end{
  margin: 0 0 0 1rem !important;
}