/*
=====================================================
                        FOOTER
=====================================================
*/
footer{
    background-image: linear-gradient(#FE602B,#CF000A);
    color: white;
    font-size: 20px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#social-media{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    padding-bottom: 25px;
}
#list-footer{
    display: flex;
    flex-direction: row;
    font-size: 18px;
    gap: 20px;
    justify-content: center;
}
#copyright{
    font-size: 13px;
    color: darkgray;
    margin-top: 15px;
}
footer .bi{
    color: white;
    font-size: 24px;
}
