.gestionnaire-home-section{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-wrap: wrap;
    padding: 16px;
    gap: 10px;
    background-color: whitesmoke!important;
}
.gestionnaire-home-section div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-grow: 1;
    flex-wrap: wrap;
    gap: 20px;
}
#links-pizza-stock, #links-stock{
    flex-grow: 1;
    flex-basis: 32%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 25px;
    font-weight: bold;
    transition: .5s ease-in-out;
    border-radius: 20px;
    background-color: #382112;
    box-shadow: 1px 1px 1px black;
    color: #591811;
}
.gestionnaire-home-section a:hover {
    transform: scale(1.02);
}
#links-statistiques{
    flex-grow: 1;
    flex-basis: 32%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 25px;
    font-weight: bold;
    transition: .5s ease-in-out;
    background-color: #382112;
    box-shadow: 1px 1px 1px black;
    border-radius: 20px;
    color: #591811;
}

#gestionnaire-home-link-alerte{
    align-self: flex-end;
    padding: 20px;
    background-color: #591811;
    color: #FF0000!important;
    width: max-content;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-size: 13px;
}
.bi-exclamation-triangle-fill{
    color: #FCE205;
}