.gestionnaire-home-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-grow: 1;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
}
#links-pizza-stock, #links-stock{
    flex-grow: 1;
    flex-basis: 32%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 25px;
    font-weight: bold;
    transition: .5s ease-in-out;
    border-radius: 5px;
}
.gestionnaire-home-section a:hover {
    transform: scale(1.02);
}
#links-pizza-stock{
    background-image: url("https://projets.iut-orsay.fr/saes3-mmfoumb/mourchidi/pizza-14/media/pictures/bg_stock_pizza.jpg");
}
#links-stock{
    background-image: url("https://projets.iut-orsay.fr/saes3-mmfoumb/mourchidi/pizza-14/media/pictures/bg_stock.jpg");
}
#links-statistiques{
    flex-grow: 1;
    flex-basis: 32%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("https://projets.iut-orsay.fr/saes3-mmfoumb/mourchidi/pizza-14/media/pictures/bg_finance.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 25px;
    font-weight: bold;
    transition: .5s ease-in-out;
    border-radius: 5px;
}
