main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    padding: 16px;
    justify-content: center;
}
.product-cards{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1.2px solid lightgrey;
    flex-basis: 20%;
    transition: linear 0.2s;
}
.product-cards:hover{
    transform: scale(1.02);
    cursor: pointer;
}
.product-cards img{
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1.2px solid lightgrey;
}
#text-parts{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    flex-grow: 1;
}
.panier-button{
    background-color: rgb(17, 104, 17);
    color: white;
    border: none;
    border-radius: 5px;
    padding-block: 5px;
    padding-inline: 10px;
    display: flex;
    flex-direction: row;
}
.panier-button:hover{
    background-color: rgb(15, 82, 15);
}
.text-center{
    flex-grow: 1;
    text-align: center;
}
