.formulaire_section {
    font-family: 'Arial', sans-serif;
    background-color: #fff;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.formulaire_section form {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 500px;
    height: fit-content;
}

.formulaire_section label {
    display: block;
    margin-bottom: 5px;
    margin-top: 10px;
    color: #333;
}

.formulaire_section input[type="text"],
.formulaire_section input[type="month"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.formulaire_section button {
    background-color: #d9534f; 
    color: white;
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

.formulaire_section button:hover {
    background-color: #c9302c; 
}

.formulaire_section button:active {
    background-color: #ac2925;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
}

@media (max-width: 600px) {
    .formulaire_section form {
        width: 90%;
    }
}
.section-payment-validated{
    display: flex;
    flex-direction: column;
    border: 1px solid lightgrey;
    background-color: white;
    box-shadow: 2px 2px 2px lightgray;
    color: black;
    width: 50%;
    height: 50%;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
#main-payment{
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.bi-check-circle-fill{
    color: green;
    font-size: 40px;
}