.section-pizza-list{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 16px;
}

.section-pizza-list a:first-child{
    align-self: start;
}
.pizza-list{
    display: flex;
    flex-direction: row;
    border: 1px solid lightgrey;
    width: 100%;
    padding: 16px;
    border-radius: 5px;
    background-color: white;
    gap: 10px;
    position: relative;
}
.pizza-list img{
    width: 100px;
    height: 100px;
}
.div-info-pizza{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
.div-info-pizza p {
    max-width: 80%;
}
.prix-pizza {
    font-size: 1.1rem!important;
    color: rgb(30,30,30);
    align-self: flex-end;
    margin: 0px!important;
}
.section-pizza-list button{
    margin-top: 10px;
}
.logoIsMoment{
    position: absolute;
    right: 16px;
    top: 6px;
    color: rgb(223, 180, 9);
    font-size: 22px;
    cursor: pointer;
}
#section-pizza-list-header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#section-pizza-list-header .bi-plus{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    font-size: 17px!important;
    width: max-content;
    padding: 5px;
    border-radius: 5px!important;
    border: none;
    background: none;
    color: rgb(30,30,30);
}
#section-pizza-list-header .bi-plus:hover{
    background-color: rgb(224, 224, 224);
}