#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: none; 
    z-index: 900; 
}
.popup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
    border-radius: 6px;
    z-index:999;
    background-color: white;
    align-items: center;
    padding: 20px;
    display: none;
}
.popup div{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
    gap: 20px;
}
.button-cancel{
    background-color: darkred;
    color: white;
    border: none;
    border-radius: 5px;
    padding-block: 5px;
    padding-inline: 10px;
    display: flex;
    flex-direction: row;
}