#popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 900;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.popup-container-edit-command{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 6px;
    z-index:999;
    background-color: white;
    padding: 20px;
    gap: 10px;
    min-width: 60%;
    height: 70%;
    position: relative;
    overflow-y: auto;
}
#popup-table{
    border-collapse: collapse;
    width: 100%;
    height: 100%;
}
#popup-table td, #popup-table th{
    border: 1px solid gray;
    width: 50%;
}
#popup-table tr:nth-child(2){
    vertical-align: top;
}
#popup-table th{
    background-color: lightgrey;
    text-align: center;
    padding: 5px 10px;
    height: 10%;
}
#popup-table ul{
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-y: auto;
}
#popup-table ul::-webkit-scrollbar {
    width: 10px;
}

/* Track */
#popup-table ul::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
}

/* Handle */
#popup-table ul::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* Handle on hover */
#popup-table ul::-webkit-scrollbar-thumb:hover {
    background: #555;
}
#popup-title{
    display: flex;
    flex-direction: column;
}
.popup-list{
    border-bottom: 1px solid lightgrey;
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.popup-list-add{
    cursor: pointer;
}
.popup-list-add-price{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
.bi-x{
    font-size: 35px !important;
    background: none;
    position: absolute;
    border: none;
    right: 12px;
    top: 0;
    color: rgb(50,50,50) !important;
}
.bi-plus-lg{
    color: darkgreen !important;
}
#popup-btn-add{
    justify-content: center;
}
#total-price{
    margin-left: 15px !important;
    margin-right: 5px !important;
}
.popup-container{
    gap: 0px!important;
    height: max-content;
    width: max-content;
    min-width: 40%;
}
.popup-form{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0px!important;
    padding: 0px;
}
.popup-form div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-grow: 1;
    width: 80%;
}
.popup-form button{
    background-color: rgb(184, 103, 12);
}
.popup-form button:hover{
    background-color: rgb(155, 88, 12);;
}
