#popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 900;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.popup-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 6px;
    z-index:999;
    background-color: white;
    padding: 20px;
    gap: 10px;
    min-width: 60%;
    height: 80vh;
    position: relative;
    overflow-y: auto;
}
#popup-table{
    border-collapse: collapse;
    width: 100%;
    height: 100%;
}
#popup-table td, #popup-table th{
    border: 1px solid gray;
    width: 50%;
}
#popup-table tr:nth-child(2){
    vertical-align: top;
}
#popup-table th{
    background-color: lightgrey;
    text-align: center;
    padding: 5px 10px;
    height: 10%;
}
#popup-table ul{
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-y: auto;
}
#popup-title{
    display: flex;
    flex-direction: column;
    max-width: 80%;
}
.popup-list{
    border-bottom: 1px solid lightgrey;
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.popup-list-add{
    cursor: pointer;
}
.popup-list-add-price{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
.bi-x{
    font-size: 35px !important;
    background: none;
    position: absolute;
    border: none;
    right: 12px;
    top: 0;
    color: rgb(50,50,50) !important;
    background: none!important;
}
.bi-plus-lg{
    color: darkgreen !important;
}
#popup-btn-add{
    justify-content: center;
}
#total-price{
    margin-left: 15px !important;
    margin-right: 5px !important;
}

/*
===================================================
                    POPUP FORM  
===================================================
*/
.popup-container-form{
    gap: 0px!important;
    height: max-content;
    min-width: 60%;
    max-width: max-content;
}
.popup-container-form h2{
    margin-bottom: 20px;
}
.popup-form{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0px!important;
    padding: 0px;
    gap: 10px;
}
.div-edit{
    display: flex;
    flex-direction: column;
    width: 80%;
}
.popup-div-input{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-grow: 1;
    width: 80%;
}
.btn-submit{
    width: 50%;
}
.popup-create-container-checkbox{
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 100%;
}
.popup-create-container-checkbox > div{
    width: 100%;
}
.popup-create-container-checkbox > div p{
    margin-bottom: 10px;
}
.popup-create-div-checkbox{
    display: flex;
    flex-direction: column;
    max-height: 10rem;
    overflow-y: auto;
    border: 1px solid lightgray;
    border-radius: 5px;
}
.popup-create-checkbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    padding: 5px;
    cursor: pointer;
}
.popup-create-checkbox:hover{
    background-color: rgba(184, 104, 12, 0.1);
}
.popup-create-checkbox label{
    cursor: pointer;
    pointer-events: none;
}
.popup-create-checkbox div{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.highlight {
    background-color: rgba(184, 104, 12, 0.1);
}
.myCheckBox{
    cursor: pointer;
    pointer-events: none;
}
.myCheckBox:checked{
    accent-color: rgb(184, 103, 12);
}
.myCheckBox-qte{
    padding: 1px 3px!important;
    width: 60px;
    border: 1px solid lightgrey;
}
.myCheckBox-qte:disabled{
    cursor: pointer;
    pointer-events: none;
}
.popup-create-container-checkbox p{
    color: black;
}