.section-stock{
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.section-stock div{
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-bottom: 10px;
    gap: 10px;
}
.section-stock div button{
    border-radius: 5px;
    padding: 5px;
    min-width: 100px;
    color: whitesmoke;
    border: 1px solid rgb(30,30,30);
}
.btn-stock-edit{
    background-color: rgb(184, 103, 12);
}
.btn-stock-discard{
    background-color: lightgray;
}
#table-stock{
    border-collapse: collapse;
    text-align: center;
    border-radius: 10px!important;
    width: 100%;
}

#table-stock thead{
    padding-block: 10px;
    background-color: rgb(184, 103, 12);
    color: whitesmoke;
}

#table-stock th, #table-stock td{
    padding: 5px;
    border: 1px solid rgb(30,30,30);
    font-weight: 100;
}
.tab-modify-stock{
    background-color: rgb(80,80,80);
}
.tab-modify-stock:hover{
    background-color: rgb(54, 54, 54);
}
.section-stock > a{
    width: max-content;
}
.bi-arrow-left{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    font-size: 17px!important;
    width: max-content;
    padding: 5px;
    border-radius: 5px!important;
    border: none;
    background: none;
    color: rgb(30,30,30);
}
.bi-arrow-left:hover{
    background-color: rgb(224, 224, 224);
}