@import url("header.css");
@import url("main.css");
@import url("footer.css");
@import url("bootstrap.css");
/*
=====================================================
                        GENERAL
=====================================================
*/
*{
    padding: 0px;
    margin: 0px;
}

li{
    list-style: none;
}
a{
    text-decoration: none !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    color: white !important;
}
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black !important;
}
h2{
    font-size: 1.8rem !important;
    color: black !important;
}
h3{
    font-size: 1.2rem !important;
    color: black !important;
}
p{
    font-size: 1rem !important;
    color: #6b6e79;
}
