</main>
<footer>
    <div id="social-media">
        <a href="#"><span class="bi bi-instagram"></span></a>
        <a href="#"><span class="bi bi-snapchat"></span></a>
        <a href="#"><span class="bi bi-facebook"></span></a>
        <a href="#"><span class="bi bi-twitter-x"></span></a>
    </div>
    <ul id="list-footer">
        <li><a href="#">Home</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Terms</a></li>
        <li><a href="#">Privacy Policy</a></li>
    </ul>

    <p id="copyright">Pizza Hub © 2023, Tous droits réservés</p>
</footer>
</div>
<script src="https://code.jquery.com/jquery-3.7.1.slim.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script type="module" src="js/script.js"></script>
</body>

</html>