<section class="form-section">
    <form method="post">
        <input type="hidden" name="action" value="connection">
        
        <h2>Connexion Gestionnaire</h2>

        <label for="email">Adresse mail:</label>
        <input type="text" id="manager_username" name="mail_gestionnaire" required>

        <label for="manager_password">Mot de passe:</label>
        <input type="password" id="manager_password" name="mdp_gestionnaire" required>

        <button type="submit">Se connecter</button>
     </form>
</section>
