<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion Manager - Pizzeria</title>
    <link rel="stylesheet" type="text/css" href="css/formulaire.css">


</head>

<body>

    <form action="process_manager_login.php" method="post">
        <h2>Connexion Gestionnaire</h2>

        <label for="manager_username">Nom d'utilisateur:</label>
        <input type="text" id="manager_username" name="manager_username" required>

        <label for="manager_password">Mot de passe:</label>
        <input type="password" id="manager_password" name="manager_password" required>

        <button type="submit">Se connecter</button>
    </form>

</body>

</html>