<div class="app-container">
<header>
    <div id="top-header">
        <img src="https://projets.iut-orsay.fr/saes3-mmfoumb/mourchidi/pizza-4/media/pictures/5.png" id="img-logo">
        <h1> Pizza Hub</h1>
    </div>
    <nav>
        <ul>
            <li><a href="index.php"> Accueil</a></li>
            <li><a href="index.php?objet=pizza"> Pizzas</a></li>
            <li><a href="index.php?objet=boisson"> Boissons</a></li>
            <li><a href="index.php?objet=dessert"> Dessert</a></li>
        </ul>
        <a id="nav-icon" href="index.php?objet=stock" class="bi bi-person-fill"></a>
    </nav>
</header>
<main>