<header>
    <div id="top-header">
        <img src="https://upload.wikimedia.org/wikipedia/fr/c/cb/Pizza_Hut_Logo.svg">
    </div>
    <nav>
        <ul>
            <li><a href="index.php"> Accueil</a></li>
            <li><a href="index.php?objet=pizza"> Pizzas</a></li>
            <li><a href="index.php?objet=boisson"> Boissons</a></li>
            <li><a href="index.php?objet=dessert"> Dessert</a></li>
        </ul>
        <ul>
            <li><a href="index.php?objet=client">Se connecter</a></li>
        </ul>
    </nav>
</header>
<main>